@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

@layer utilities {
  .glass-nav {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .editorial-shadow {
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.1);
  }

  .primary-gradient {
    background: linear-gradient(135deg, #ba0015 0%, #e21f26 100%);
  }

  /* Utility for hiding scrollbars but allowing scroll */
  .hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
  }
}